.container_flags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flag {
  border-radius:50%;
  margin: 22px 0.5em 0px 0.5em;
  width: 125px;
  height: 125px;
  cursor: pointer;
}
.flag_grey {
  border-radius:50%;
  margin: 22px 0.5em 0px 0.5em;
  width: 125px;
  height: 125px;
  cursor: pointer;
  filter: grayscale(100%);
}
.fix_on_top{
  position: fixed;
  width: 100%;
  background-color: #f8f9fa;
  z-index: 1;
}