<div class="p-4 fix_on_top">
    <h1>Hi {{user.firstName}}!</h1>
    <div class ="top" >
        <div class ="top2"><p> {{statusText}} </p></div>
    </div>
</div>
<div class="p-4">
    <div class="container">
        <div class="container_flags" style="margin-top: 100pt">
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'ct' ? 'flag' : 'flag_grey'" src="./assets/images/catalunya.png" alt="" (click)="play_stop('ct')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'es' ? 'flag' : 'flag_grey'" src="./assets/images/spain.png" alt="" (click)="play_stop('es')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'en' ? 'flag' : 'flag_grey'" src="./assets/images/ukusa2.png" alt="" (click)="play_stop('en')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'fr' ? 'flag' : 'flag_grey'" src="./assets/images/france.png" alt="" (click)="play_stop('fr')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'de' ? 'flag' : 'flag_grey'" src="./assets/images/germany.png" alt="" (click)="play_stop('de')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'it' ? 'flag' : 'flag_grey'" src="./assets/images/italy.png" alt="" (click)="play_stop('it')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'pt' ? 'flag' : 'flag_grey'" src="./assets/images/portubrasil.jpg" alt="" (click)="play_stop('pt')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'nl' ? 'flag' : 'flag_grey'" src="./assets/images/nederland.png" alt="" (click)="play_stop('nl')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'se' ? 'flag' : 'flag_grey'" src="./assets/images/suecia.png" alt="" (click)="play_stop('se')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'no' ? 'flag' : 'flag_grey'" src="./assets/images/norway.png" alt="" (click)="play_stop('no')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'ru' ? 'flag' : 'flag_grey'" src="./assets/images/rusia.png" alt="" (click)="play_stop('ru')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'ja' ? 'flag' : 'flag_grey'" src="./assets/images/japan2.jpg" alt="" (click)="play_stop('ja')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'zh' ? 'flag' : 'flag_grey'" src="./assets/images/china.png" alt="" (click)="play_stop('zh')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'sa' ? 'flag' : 'flag_grey'" src="./assets/images/arab.png" alt="" (click)="play_stop('sa')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'il' ? 'flag' : 'flag_grey'" src="./assets/images/israel.png" alt="" (click)="play_stop('il')"/>
            <img [ngClass]="!selectedLanguage || selectedLanguage == 'tr' ? 'flag' : 'flag_grey'" src="./assets/images/turkey.png" alt="" (click)="play_stop('tr')"/>
        </div>
    </div>
</div>