<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <div class ="top" >
            <div class ="top1" style="text-align: center;" (click)="play()"><i class="material-icons">play_arrow</i></div>
            <div class ="top2"><p> Playing english, press again to pause or other flag to change the languaje </p></div>
        </div>
        <!--<a href="\play">-->
            <div class ="countries">
                <img style="border-radius:50%; margin: 22px 1em 0px auto; filter: grayscale(100%);" src="./assets/images/catalunya.png" width="125" height="125" alt="" border="3"/>
                <img style="border-radius:50%; margin: 22px 1em 0px auto; filter: grayscale(100%);" src="./assets/images/spain.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/ukusa2.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;  filter: grayscale(100%);"  src="./assets/images/france.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;  filter: grayscale(100%);"  src="./assets/images/germany.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;  filter: grayscale(100%);"  src="./assets/images/italy.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;  filter: grayscale(100%);"  src="./assets/images/portubrasil.jpg" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;  filter: grayscale(100%);"  src="./assets/images/nederland.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;  filter: grayscale(100%);"  src="./assets/images/suecia.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/norway.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/rusia.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/japan2.jpg" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/china.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/arab.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/israel.png" width="125" height="125" alt="" />
                <img style="border-radius:50%; margin: 22px 1em 0px auto;"  src="./assets/images/turkey.png" width="125" height="125" alt="" />
            </div>
        <!--/a>-->
        <!--<p><a routerLink="/users">Manage Users</a></p>-->
        <!--<p><a routerLink="/empleados">Manage Empleados</a></p>-->
        <!--<p><a routerLink="/citas">Manage Citas</a></p>-->
        <!--<p><a routerLink="/cita/{id}">Mis Citas</a></p>-->
    </div>
</div>